.dashcard{
    border: 2px solid gray;
    padding: 25px;
    width: 500px;
    text-align: center;
    margin: 20px;
}
.dashcard h1{
    margin: 20px;
}
.container{
    flex-direction: column;
}
.logout{
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    color: rgb(0, 119, 255);
    cursor: pointer;
}