@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    height: 100vh;
    
}
.card{
    width: 25em;
    border: 1px solid rgb(168, 168, 168);
    color: rgb(0, 0, 0);
    padding: 40px;
    box-shadow: 5px 5px 7px 0px rgba(122, 122, 122, 0.363);
}
.card h1{
    text-align: center;
    color: rgb(0, 140, 255);
    margin: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    margin: 10px !important;
    width: 100% !important;
}
.Btn{
    margin: 20px !important;
    background-color: rgba(255, 255, 255, 0) !important;
    background-image: linear-gradient(to right, rgb(0, 110, 255) 50%,rgba(255, 255, 255, 0) 50% );
    background-size: 200%;
    background-position: right;
    color: rgb(0, 110, 255) !important;
    transition: all 0.35s ease-in-out !important;
}
.Btn:hover{
    background-position: left;
    color: white !important;
}
.sign-in{
    text-decoration: none;
    color: rgb(0, 110, 255);
}
.forgot{
    padding: 5px;
    color: rgb(0, 110, 255);
}